html, body {
    padding: 0;
}

body {
    background-color: #ededed;
    width: 500px;
    margin: 0 auto;
    font-family: "Source Sans 3", sans-serif;
}

/***HEADER***/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 2px solid #c6c6c6;
}

/**LOGO**/
.site-logo {
    width: 30%;
}

/**CURRENT USER ICON***/
.avatar {
    width: 10%;
    border-radius: 50%;
}

/***POST***/
.post {
    background-color: #fff;
    margin-bottom: 40px;
}

/**POST HEADER**/
.post-header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
}

/*CREATORS INFO*/
.post-avatar {
    border-radius: 50%;
    width: 10%;
}

.post-info {
    font-size: 20px;
    padding-left: 15px;
}

.post-name {
    font-weight: bold;
    margin: 0;
}

.post-location {
    margin: 0;
    font-weight: 400;
}

/**POST IMAGE**/
.post-img {
    width: 100%;
}

/**POST FOOTER**/
.post-footer {
    padding: 20px;
    font-size: 20px;
}

/*SOCIAL INTERACTIONS*/
.interactions {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.interactions button {
    background: transparent;
    border: none;
}

.interactions img {
    width: 40px;
}

.interactions button:hover {
    opacity: .5;
    cursor: pointer;
}